#mnmenu {
  position: absolute;
  width:100%;
  height:100%;
  z-index: 101;
  top:0;
  left:0;
}

.menu-bg {
  background-color: #fff;
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity: 0.8;
}

.innermenu {
  position: absolute;
  top:10%;
  width: 730px;
  left:35px;
  right:35px;
}

.menu-group {
  display: inline-block;
  width: 238px;
  float: left;
}
.menu-group:first-of-type {
  margin-left: 0;
  margin-right: 4px;
}
.menu-group:nth-of-type(2) {
  margin-left: 4px;
  margin-right: 4px;
}
.menu-group:last-of-type {
  margin-left: 4px;
  margin-right: 0;
}


.menu-group div {
  box-sizing: border-box;
  line-height: 62px;
  margin-bottom: 8px;
  width: 238px;
}

.menu-group p {
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-inactive {
  color: #ccc;
}

.mbtn1 {
  border-left: 6px solid #F2F3F6;
  background-color: #F2F3F6;
}

.mbtn1:visited {
  background-color: #F2F3F6;
}
.mbtn1:hover {
  border-left: 6px solid #EF8480;
  background-color: #ffffff;
}
.mbtn1:active {
  background-color: #F2F3F6;
}

.mbtn2 {
  border-left: 6px solid #E5E7EA;
  background-color: #E5E7EA;
}

.mbtn2:visited {
  background-color: #E5E7EA;
}
.mbtn2:hover {
  border-left: 6px solid #E5322C;
  background-color: #ffffff;
}
.mbtn2:active {
  background-color: #E5E7EA;
}

.mbtn3 {
  color: #E1E1E1;
  background-color: #444756;
}

.mbtn3:visited {
  color: #E1E1E1;
  background-color: #444756;
}
.mbtn3:hover {
  color: #E1E1E1;
  background-color: #575863;
}
.mbtn3:active {
  color: #E1E1E1;
  background-color: #444756;
}
