#mnmenu {
  position: absolute;
  width:100%;
  height:100%;
  z-index: 101;
  top:0;
  left:0;
}

.menu-bg {
  background-color: #fff;
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity: 0.8;
}

.innermenu {
  position: absolute;
  top:10%;
  width: 730px;
  left:35px;
  right:35px;
}

.menu-group {
  display: inline-block;
  width: 238px;
  float: left;
}
.menu-group:first-of-type {
  margin-left: 0;
  margin-right: 4px;
}
.menu-group:nth-of-type(2) {
  margin-left: 4px;
  margin-right: 4px;
}
.menu-group:last-of-type {
  margin-left: 4px;
  margin-right: 0;
}


.menu-group div {
  box-sizing: border-box;
  line-height: 62px;
  margin-bottom: 8px;
  height: 62px;
  width: 238px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}

.menu-input {
  display: none;
}
.menu-btn {
  display: block;
  box-sizing: border-box;
  float:left;
  width:100%;
  height:100%;
  cursor: pointer;
  padding-left: 20px;
  margin-bottom: 8px;
}
.menu-input:disabled + .menu-btn {
  cursor: default;
}
.mbtn1 {
  border-left: 6px solid #F2F3F6;
  background-color: #F2F3F6;
}
.menu-input:not(:disabled) + .mbtn1:visited {
  background-color: #F2F3F6;
}
.menu-input:not(:disabled) + .mbtn1:hover {
  border-left: 6px solid #EF8480;
  background-color: #ffffff;
}
.menu-input:not(:disabled) + .mbtn1:active {
  background-color: #F2F3F6;
}

.mbtn2 {
  border-left: 6px solid #E5E7EA;
  background-color: #E5E7EA;
}
.menu-input:not(:disabled) + .mbtn2:visited {
  background-color: #E5E7EA;
}
.menu-input:not(:disabled) + .mbtn2:hover {
  border-left: 6px solid #E5322C;
  background-color: #ffffff;
}
.menu-input:not(:disabled) + .mbtn2:active {
  background-color: #E5E7EA;
}


.menu-input:disabled + .mbtn1,
.menu-input:disabled + .mbtn2 {
  color: #ccc;
}

.onoffswitch-label {
    float:left;
    width:100%;
    cursor: pointer;
    color: #E1E1E1;
    background-color: #444756;
    margin-bottom: 8px;
}
.menu-input:disabled + .onoffswitch-label {
  cursor: default;
  color: #aaa4a4;
  background-color: #62667c;
}
.onoffswitch-border {
  position: relative;
  box-sizing: border-box;
  float:right;
  text-align: center;
  line-height: 21px;
  top:16px;
  right:16px;
  width: 109px;
  height: 30px;
  border: 1px solid #E1E1E1;
}
.menu-input:disabled + .onoffswitch-label .onoffswitch-border {
  border: 1px solid #aaa4a4;
}
.onoffswitch-main {
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.onoffswitch-switch {
  display: inline-block;
  position: relative;
  width:50%;
  height:100%;
}
.onoffswitch-on, .onoffswitch-off {
  display: inline-block;
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 100%;
  background-color: #444756;
  border: 3px solid #444756;
  color: #E1E1E1;
  font-size: 16px;
  font-weight: bold;
}
.menu-input:disabled + .onoffswitch-label .onoffswitch-border .onoffswitch-on,
.menu-input:disabled + .onoffswitch-label .onoffswitch-border .onoffswitch-off {
  background-color: #62667c;
  border: 3px solid #62667c;
  color: #aaa4a4;
}


.menu-input:checked + .onoffswitch-label .onoffswitch-border .onoffswitch-on,
.menu-input:not(:checked) + .onoffswitch-label .onoffswitch-border .onoffswitch-off {
  background-color: #E1E1E1;
  border: 3px solid #444756;
  color: #444756;
}
.menu-input:checked:disabled + .onoffswitch-label .onoffswitch-border .onoffswitch-on,
.menu-input:not(:checked):disabled + .onoffswitch-label .onoffswitch-border .onoffswitch-off {
  background-color: #aaa4a4;
  border: 3px solid #62667c;
  color: #62667c;
}

.menu-dummy {
  background-color: #444756;
  padding-left: 20px;
  color: #E1E1E1;
  overflow-y: hidden;
}

input[type=range] {
  position: relative;
  float: right;
  top: 16px;
  right: 16px;
  width: 109px;
  margin-top: 0;
  padding-top: 0;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 109px;
  height: 30px;
  cursor: pointer;
  animate: 0.2s;
  background: #444756;
  border: 1px solid #E1E1E1;
}
input[type=range]::-webkit-slider-thumb {
  border: 2px solid #444756;
  height: 26px;
  width: 16px;
  border-radius: 0px;
  background: #E1E1E1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #444756;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  animate: 0.2s;
  background: #444756;
  border: 1px solid #E1E1E1;
}
input[type=range]::-moz-range-thumb {
  border: 2px solid #444756;
  height: 26px;
  width: 16px;
  background: #E1E1E1;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #444756;
  border: 1px solid #E1E1E1;
}
input[type=range]::-ms-fill-upper {
  background: #444756;
  border: 1px solid #E1E1E1;
}
input[type=range]::-ms-thumb {
  border: 2px solid #444756;
  height: 24px;
  width: 16px;
  background: #E1E1E1;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #444756;
}
input[type=range]:focus::-ms-fill-upper {
  background: #444756;
}
