@keyframes highlight {
  0% {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f1f1+0,e0e1e5+100 */
    background: #f0f1f1; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0f1f1 0%, #e0e1e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f0f1f1 0%,#e0e1e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f0f1f1 0%,#e0e1e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f1f1', endColorstr='#e0e1e5',GradientType=0 ); /* IE6-9 */
  }
  100% {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f5f5+0,ffffff+100 */
    background: #f4f5f5; /* Old browsers */
    background: -moz-linear-gradient(top,  #f4f5f5 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f4f5f5 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f4f5f5 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }
}


.gradient-idle{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f1f1+0,e0e1e5+100 */
  background: #f0f1f1; /* Old browsers */
  background: -moz-linear-gradient(top,  #f0f1f1 0%, #e0e1e5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f0f1f1 0%,#e0e1e5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f0f1f1 0%,#e0e1e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f1f1', endColorstr='#e0e1e5',GradientType=0 ); /* IE6-9 */
}

.sep-l {
  position: absolute;
  top:0;
  left:0;
}

.sep-r {
  position: absolute;
  top:0;
  right:0;
}

.hide-navbar {
  display: none;
}

#mnnavbar {
    position: absolute;
    border-color: #000;
    bottom: 0;
    height:31px;
    width:100%;
    background-color: #f0f1f1;
    z-index:102;
}

#mnnavbar p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

/*#mnnavbar div {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  height:31px;
  line-height: 31px;
  overflow: hidden;
  text-align: center;
}*/
#mnnavbar input[type=button] {
  display: none;
}
#mnnavbar input[type=button] + label {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  height:31px;
  line-height: 31px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}
#mnnavbar input[type=button] + label:visited {

}
#mnnavbar input[type=button]:not(:disabled) + label:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f5f5+0,ffffff+100 */
  background: #f4f5f5; /* Old browsers */
  background: -moz-linear-gradient(top,  #f4f5f5 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f4f5f5 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f4f5f5 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#mnnavbar input[type=button] + label:active {

}
#mnnavbar input[type=button]:disabled + label{
  cursor: default;
}
#mnnavbar input[type=button]:disabled + label > i {
  opacity: 0.2;
}

#nav-menu + label{
  width:40px;
  left: 4px;
}

#nav-prev + label {
  width:40px;
  right: 124px;
}

#nav-toc + label {
  right: 44px;
  width: 80px;
}

#nav-next + label {
  width:40px;
  right: 4px;
}

.highlight {
  animation: highlight 0.5s infinite alternate;
}
