#mntoc {
  position: absolute;
  width:100%;
  height:100%;
  z-index: 101;
  top:0;
  left:0;
}

.toc-bg {
  background-color: #fff;
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity: 0.8;
}

.innertoc {
  position: absolute;
  top: 10%;
  left: 5%;
  right: 5%;
  bottom: 20%;
  width: 90%;
  height: 80%;
}

.slides-group {
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    height: 80%;
}

.slides-group p {
  margin-top: 0;
  margin-bottom: 0;
}

.slides-group span {
  font-weight: bolder;
}

.slides-group div {
  text-indent: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 4px;
  background-color: #F1EFED;
}

.slides-group div:last-child {
  margin-bottom: 0;
}

.slides-group div:visited {
  background-color: #F1EFED;
}
.slides-group div:hover {
  background-color: #ccc;
}
.slides-group div:active {
  background-color: #F1EFED;
}
